body {
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-kenzie {
    display: flex;
    justify-content: center;
    margin-top: 30px 0;
}

.titulo-kenzie {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.titulo-kenzie h1 {
    font-size: 30px;
    color: #ffffff;
}

.caixa {
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: 700px;
}

.usuario {
    display: flex;
    justify-content: space-between;
}

.usuario li {
    max-width: 160px;
    max-height: 160px;
    display: flex;
    margin: 7.5px;
}

.usuario a {
    text-decoration: none;
    align-content: center;
}

.usuario li p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}

.usuario-foto {
    background-color: rgb(40, 41, 41);
    width: 160px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px transparent;
    margin: 7.5px;
}

.usuario-foto:hover {
    border: 4px solid #ffffff;
}

.usuario-foto img {
    border-radius: 8px;
    border: 2px solid transparent;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.botao-kenzie {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.botao-kenzie button {
    border-color: #ffffff;
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 24px;
}

.botao-kenzie :hover {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}

@media (max-width: 768px) {
    .logo-kenzie {
        margin-top: 50px;
    }

    .titulo-kenzie {
        margin: 30px 0;
    }

    .usuario li {
        max-width: 100%;
    }

    .botao-kenzie {
        margin-top: 30px;
    }
}
